$color-violet   : darkviolet;
$color-danger   : red;
$color-success  : #1ebd1e;
$color-delete   : #e98c8c;
$color-disabled : #e5e5e5;

$default-text-color   : black;
$secondary-text-color : #939090;
$button-background    : lavender;
$form-border-color    : darkviolet;
$default-border-color : #ebebeb;
$dark-border-color    : #d9d9d9;
$card-background      : #ebebeb;

$app-padding   : 40px;
$app-padding-xs: 20px;

$default-border-radius: 8px;
$card-border-radius   : 16px;

.color-danger {
    color: $color-danger;
}

.color-secondary {
    color: $secondary-text-color;
}

.color-success {
    color: $color-success;
}

.color-violet {
    color: $color-violet;
}